apiVersion: apps/v1
kind: Deployment
metadata:
  name: deppops
  namespace: deppops
  labels:
    app: deppops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: deppops
  template:
    metadata:
      labels:
        app: deppops
    spec:
      containers:
        - name: deppops
          image: ghcr.io/lucascherzer/deppops/deppops@sha256:51aa5e7bce74b4b5f57fa38d4e599e23da38a0d7516d698bb7f92365945eec03
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/live
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
